framework/llvm
framework/data/funcs
framework/data/match
framework/data/repo_path
framework/garage
framework/joern
fuzzing/workdir/*
fuzzing/image
fuzzing/image
fuzzing/garage
fuzzing/log*
garage
eval/matching/output*
a.out
out
scratch
.*.swp
*.pyc

!fuzzing/workdir/corpus-*.db
